* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: sans-serif;
    background-color: darkseagreen;
}


ul{
    list-style:none;
}
h1, h2, h3{
    background-color: lightslategray;
    color: cyan;
}
a {
    text-decoration: none;
    color: white;
}

header {
    background-color: teal;
    width: 100%;
    height: 200px;
}

header>h1 {
    background-color: bisque;
    height: 50%;
    text-align: center;
    line-height: 100px;
 
}


.nav_bar{
    background-color:brown;
    width: 100%;
    
}

.nav_bar>ul{
    background-color:teal;
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
}
.nav_bar>ul>li {
    background-color: greenyellow;
    width: 20%;
    height: 60px;
    margin:auto;
    display: flex;

}

.nav_bar>ul>li>a {
    background-color: red;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 60px;
    justify-content: space-around;

   
}
.container{
    background-color:whitesmoke;

    width: 100%;
    display: flex;
    flex-flow: wrap;
}

section{

    background-color: lightblue;
    display: flex;
    flex-wrap:wrap;
    width: 70%;
    
    
}


section > article{
    background-color: cornflowerblue;
    justify-content: space-between;
    width: 200px;

}
article>h2{
    background-color:beige;
    color:blue;
}
aside{
    background-color: lightcoral;
    width: 30%;

}
xmp{
    background-color: lightblue;
}
footer {
   
    background-color: teal;
    width: 100%;
    
}