* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: sans-serif;
    background-color: darkseagreen;
}

.container{
    display: flex;
    flex-direction: column;
}


header {

    background-color: tomato;
}

header>h1 {
    background-color: aliceblue;
 
}

a {
    text-decoration: none;
    color: white;
}
.nav_bar{

}

.nav_bar>ul{
    padding:30px;
    background-color:blue;
    list-style: none;
}
.nav_bar>ul>li {
    background-color: greenyellow;
}

.nav_bar>ul>li>a {
    background-color: red;
    color: white;
}

section{
   
    background-color: burlywood;
}
article{
    background-color: cornflowerblue;
  
}
article>h2{
    background-color: cadetblue;
 
    color:red;
}
aside{
    background-color: coral;
}
xmp{
    background-color: lightblue;
}
footer {
   
    background-color: teal;
    
}