<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>decorado</title>
    <meta name="description" content="">
    <meta name="author" content="SoryDave">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="../static/style.css">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>
    <header>
        <h1>decorado</h1>
        <nav>
            <ul>
                <li>
                    <a href="/index">home</a>
                </li>
                <li>
                    <a href="/login">login</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>
            {% block content %}{% endblock %}
    </main>

    <footer>
        <p>made with love, flask, python, html and css by <h2>Sorry<span>Dave</span></h2></h1></p>
    </footer>
</body>

</html>