<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>decorado</title>
    <meta name="description" content="">
    <meta name="author" content="SoryDave">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="../static/style.css">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>
    <header>
        <h1>decorado</h1>
        <nav>
            <ul>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
            </ul>
        </nav>

    </header>

    <main>
        <p>
            You should use Skeleton if you're embarking on a smaller project or just don't feel like you need all the utility of larger
            frameworks. Skeleton only styles a handful of standard HTML elements and includes a grid, but that's often more
            than enough to get started. In fact, this site is built on Skeleton and has ~200 lines of custom CSS (half of
            which is the docking navigation).
        </p>
    </main>

    <footer>
        <p>made with love, flask, python, html and css by <h2>Sorry<span>Dave</span></h2></h1></p>
    </footer>
</body>

</html>