 {% extends "base.html" %} 
 
 {% block content %}
<h1>ART</h1>
<p>And Easy to Setup pip install Flask FLASK_APP=hello.py flask run Running on http://localhost:5000/ Interested? Download latest
    release (0.12.2) Read the documentation or download as PDF Join the mailinglist Fork it on github Add issues and feature
    requests What’s in the Box? built-in development server and debugger integrated unit testing support RESTful request
    dispatching uses Jinja2 templating support for secure cookies (client side sessions) 100% WSGI 1.0 compliant Unicode
    based extensively documented </p>
{% endblock %}